<div class="book-div zoom">
    <div class="cover-div">
        <img src="{{img}}" alt="Book Cover" class="book-img zoom">
    </div>
    <div class="book-info zoom">
        <h1>{{name}}</h1>
        <h4 class="author-text zoom">Author: {{author}}</h4>
        <div class="description-div"><p>{{description}}</p></div>
    </div>
    <ul>
        <li>
            <a href="#/books/add/:{{id}}" class='add-book-btn'><img src="../images/SignAddicon.png" class="book-icon"</a>
        </li>
        <li>
            <a href="#/books/remove/:{{id}}" class='add-book-btn'><img src="../images/Very Basic delete.png" class="book-icon"</a>
        </li>
    </ul>
</div> 